*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}
.padre{
    /*background-color: chartreuse;*/
    display: flex;
    flex-flow: column nowrap;

}

.margen-interno{
    padding: 0 50px;
}

    .header{
    background: url(imagenes/bg-header1.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    }

        .menu{
            background-color: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }

            .logo{
               
                flex: 1 1 auto;
             }

            .logo a{
                color: white;
                font-size: 30px;
            }

            .logo a:hover{
                color: darkgray;
            }
            .nav{
               
                flex: 5 1 auto;
            }
            
            .nav a{
                color: white;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav a:hover{
                color: darkgray;

            }

            .social{
              display: flex;
                flex: 1 1 auto;
            }
            .social a{
                color: white;
                font-size: 11px;
                padding: 0 5px;
            }

            .social a:hover{
                color: darkgray;

            }

       .texto-principal{
            /*background-color: cyan;*/
            height: 90px;
            display: flex;
            align-items: center;
          
        }
            h1{
                font-family: 'Lora', 'serif';
                font-size: 21px;
                color: #fff;
                font-weight: 30;
                text-align: center;
                line-height: 1.6;
            }

    .section{
    
    display: flex;
    flex: 1 1 auto;
   justify-content: center;
    padding: 15px;
   
    }

    .formulario form input{
      background-color: rgba(108, 233, 24, 0.193);
        display: block;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;

    }
    textarea{
        background-color: rgba(108, 233, 24, 0.193);
        display: block;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;

    }
    h5{
        font-size: 25px;
        margin-left: 15px;
    }

   

        .articulos{
            background-color: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
               
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }

            .article img{
                width: 100%;
            }

            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px;
                background: #000;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                background: #546cc3;
            }

            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
            }
            .navegacion{
                background-color: black;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }

            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                initial-letter: 2px;
            }

        .aside{
            /*background-color: #f73f52;*/
            flex:  1 1 auto;
            margin: 10px 5px 10px 0;
        }
        /*.aside img{
            width: 100%;
        }*/

        h4{
            background: #000 ;
            color:#fff ;
           padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
               /* background-color: tan;*/
            }

    .footer{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 60px;
    align-items: center;
    }
     .pie{
        /* background-color: white;*/
        text-align: center;
     }

     .pie a{
         color: #fff ;
         font-size: 11px;
         text-transform: uppercase;
         padding: 0 10px;
         letter-spacing: 2px;
     }

     @media only screen and (max-device-width: 880px){
       .section{
           flex-direction: column;
       }
       .menu{
           flex-direction: column;
           height: auto;
       }

       .aside{
           display: flex;
           justify-content: center;
       }
       h1{
           font-size: 15px;
       }
       .texto-principal{
           height: 450px;
       }

   }

   @media only screen and (max-device-width: 630px){
    .articulos{
        flex-direction: column;
    }

   @media only screen and (max-device-width: 600px){
    .off{
        display: none;
    }
    .nav a{
        font-size: 20px;
    }

    @media only screen and (max-device-width: 400px){
        .aside{
            flex-direction: column;
        }
    }